* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: system-ui;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: #1e293b;
  color: white;
}

header {
  margin-top: 0px;
  position: fixed;
  background-color: #101820;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 9%;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #b74b4b;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}
nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 0%;
  background-color: #b74b4b;
  transition: all ease 0.5s;
}
nav a:hover::after {
  width: 100%;
}
nav a:hover{
  color: #b74b4b;
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  background-color: #0f172a;
  border-radius: 8rem;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: #b74b4b;
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p {
  font-size: 2rem;
}
p{
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 25vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  box-shadow: 0 0 25px #b74b4b;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #b74b4b;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b74b4b;
}

.social-icons a:hover {
  transform: scale(1.3);
}

.social-icons #linkedIn:hover{
  color: #0a66c2;
  border-color: #0a66c2;
  box-shadow: 0 0 10px #0a66c2;
}

.social-icons #github:hover{
  color: white;
  border-color: white;
  box-shadow: 0 0 10px white;
}

.social-icons #twitter:hover{
  color: #1da1f2;
  border-color: #1da1f2;
  box-shadow: 0 0 10px #1da1f2;
}

.social-icons #wapp:hover{
  color: #25d366;
  border-color: #25d366;
  box-shadow: 0 0 10px #25d366;
}


.btn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  color: #b74b4b;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #b74b4b;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #b74b4b;
  color: black;
  box-shadow: 0 0 25px #b74b4b;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span::before {
  content: "Web developer";
  color: #b74b4b;
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  background-color: #0f172a;
  position: absolute;
  /* width: calc(100% + 8px); */
  height: 7vh;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s linear infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid #b74b4b;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web developer";
  }
  21%,
  40% {
    content: "Web developer";
  }
  41%,
  60% {
    content: "Web developer";
  }
  61%,
  80% {
    content: "Web developer";
  }
  81%,
  100% {
    content: "Web developer";
  }
}

/* Code for responsivness */
@media screen and (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #b74b4b;
    border-bottom: 3px solid #b74b4b;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: transparent;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a:active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #b74b4b;
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .btn{
    text-align: center;
  }
}

/* About Section Style */

section .content{
  width: 80%;
  margin: 0 auto;
}

.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span{
  font-size: 30px;
  color: white;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #b74b4b;
  left: 0;
  bottom: 0;
}

.about .about-details .left{
  width: 45%;
  overflow: hidden;
}

.about .left img{
  width: 25vw;
  position: relative;
  object-fit: cover;
  border-radius: 12px;
  filter: saturate(2);
  transition: all 1.2s ease;
}

.about .left img:hover{
  scale: 1.2;
}

.about-details .right{
  width: 55%;
}

section .topic{
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p{
  text-align: justify;
  color: white;
}

.hilights{
  margin-left: 1.5rem;
  padding-bottom: 2rem;
}

.hilights ul{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #ff8a65;
}

section .button{
  margin: 16px 0;
}

section .button #cv-cht-btn{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 500;
  background-color: transparent;
  color: white;
  border: 2px solid #b74b4b;
  cursor: pointer;
  transition: all 0.4s ease;
}

section .button #cv-cht-btn:hover{
  border-color: #b74b4b;
  background-color: #b74b4b;
  color: #0f172a;
  transform: translateX(-3px);
  box-shadow: 0 0 15px #b74b4b;
}

.skills .content{
  padding: 40px 0;
}

.skills .skills-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-details .text{
  width: 50%;
}

.skills-details p{
  text-align: justify;
}

.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-details .experience .num{
  color: white;
  font-size: 80px;
}

.skills-details .experience .exp{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}

.skills-details .skills-boxes{
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}

.skills-details .skills-boxes .topic{
  font-size: 20px;
  color: lightgrey;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.skills-details .skills-boxes .per{
  font-size: 30px;
  color: #b74b4b;
}

.services .services-boxes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services .services-boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  background-color: #0f172a;
  box-shadow: 0 5px 10px #0f172a;
  color: white;
  cursor: default;
  transition: all 0.4s ease;
}

.services .services-boxes .box:hover{
  background-color: #b74b4b;
  color: white;
}

.services .services-boxes .box .icon{
  width: 50px;
  height: 50px;
  background-color: #b74b4b;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.services-boxes .box:hover .icon{
  background-color: white;
  color: #b74b4b;
}

.boxes .box:hover .topic,p{
  color: white;
  transition: all 0.4s ease;
}


/* Contact Styling */

.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}

footer{
  background: #b74b4b;
  padding: 15px 0;
  color: white;
  text-align: center;
}

footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: white;
}

footer .text span a{
  color: white;
  font-weight: 600;
}

footer .text span a:hover{
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  
  .about .about-details .left{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }

  .services .services-boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}

@media (max-width: 900px) {
  body{
    background-color: #0f172a;
  }
  .about .left img{
    width: 70vw;
  } 
}

@media (max-width: 968px){
  body{
    background-color: #1e293b;
  }
  .home{
    background-color: #0f172a;
  }
  nav .logo{
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
  }

.skills .skills-details{
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills-details .text{
  width: 100%;
  margin-bottom: 50px;
}

.skills-details .skills-boxes{
  width: 90vw;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.skills-details .skills-boxes .box .per{
  font-size: 30px;
}

.services .services-boxes .box{
  width: 100%;
  margin: 20px 0;
}

.contact .text{
  width: 100%;
}
}

@media (max-width: 500px) {
  body{
    background-color: #0f172a;
  }
  .home{
    background-color: transparent;
  }
section .button #cv-cht-btn{
  font-size: 2rem;
}
  .main-container .image{
    width: 50%;
    height: 60%;
    margin-bottom: 0px;
  }
  
  .main-container .content{
    width: 80%;
  }

  .main-container button{
    margin-top: 15px;
  }

  .skills-details .skills-boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  
  .skills-details .skills-boxes .per{
    font-size: 50px;
    color: #b74b4b;
  }
}



